body {
    background: #494A5F;
}

.content_header {
    text-align: center;
    font-size: 30px;
    color: #047AF7;
}

.content_center {
    width: 100%;
    /*height: 700px;*/
    /*border: 1px solid #047AF7;*/
}

.tab-content>.active {
    display: block;
}

.tab-content>.tab-pane {
    display: none;
}

.pull-left.pagination-detail {
    margin-top: 20px;
}

.pagination {
    margin: 0px;
    margin-top: 10px;
}


/*carTypeIn 车辆录入表单*/

.tableTypein {
    width: 70%;
    margin: 0 auto;
    /*padding-top: 30px;*/
}

.form-horizontal {
    /*border: 1px solid red;*/
    border: 2px solid #A1A2A4;
    box-shadow: 1px 2px 35px #A1A2A4;
    /*background: #1C232F;*/
    margin-top: 50px;
    padding-top: 40px;
}

.form-group label {
    color: #A1A2A4;
}

.form-group input {
    background: transparent;
    /*color: #A1A2A4;*/
}

#carTypeIn h3,
#paizhao h3,
#driverTypeIn h3,
.tableTypein h3 {
    color: #047AF7;
}

#btn_mytetail,
#btn_mydel,
.optionBth {
    border: none;
    background: #047AF7;
}

.page-content::after {
    content: '';
    clear: both;
    display: block;
    /*border: 1px solid gold;*/
    /*border: none;*/
}

.container-fluid:after {
    /*border: none;*/
    content: '';
    clear: both;
    display: block;
    /*border: 1px solid red;*/
}