    /*系统整体颜色变化*/
    
    body {
        /*background: #494A5F;*/
        background: #BEBFD6;
    }
    
    .sidebar-wrapper {
        background: #5B5D85;
    }
    
    .form-horizontal {
        /*border: 1px solid red;*/
        border: 2px solid #A1A2A4;
        box-shadow: 1px 2px 35px #A1A2A4;
        background: #FAFBFF;
        margin-top: 50px;
        /*padding-top: 40px;*/
    }
    
    .form-horizontal h3 {
        background: #5B5D85;
        margin-top: 0px;
        font-size: 16px;
        color: white;
        width: 100%;
        text-indent: 20px;
        height: 33px;
        line-height: 33px;
    }
    
    .sidebar-footer {
        background: #464866;
        box-shadow: 0px -1px 5px #464866;
        border-top: 1px solid #464866;
    }
    
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
        background: #464866;
    }
    
    .sidebar-wrapper .sidebar-menu ul li a i {
        background: #464866;
    }
    
    .sidebar-wrapper .sidebar-header {
        border-top: 1px solid #464866;
        border-bottom: 1px solid #464866;
    }
    
    .li1 a {
        /*color: #1B6DDA !important;*/
        color: #BBA7DA !important;
    }
    
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li.active a {
        color: #BBA7DA;
    }
    /*end 颜色变化*/
    
    .content_header {
        text-align: center;
        font-size: 30px;
        color: #047AF7;
    }
    
    .content_center {
        width: 100%;
        /*height: 700px;*/
        /*border: 1px solid #047AF7;*/
    }
    
    .tab-content>.active {
        display: block;
    }
    
    .tab-content>.tab-pane {
        display: none;
    }
    
    .pull-left.pagination-detail {
        margin-top: 20px;
    }
    
    .pagination {
        margin: 0px;
        margin-top: 10px;
    }
    /*carTypeIn 车辆录入表单*/
    
    .tableTypein {
        width: 70%;
        margin: 0 auto;
        /*padding-top: 30px;*/
    }
    
    .form-group label {
        color: #A1A2A4;
    }
    
    .form-group input {
        background: transparent;
        /*color: #A1A2A4;*/
    }
    
    #carTypeIn h3,
    #paizhao h3,
    #driverTypeIn h3,
    .tableTypein h3 {
        color: #047AF7;
    }
    
    #btn_mytetail,
    #btn_mydel,
    .optionBth {
        border: none;
        background: #047AF7;
    }
    
    .page-content::after {
        content: '';
        clear: both;
        display: block;
        /*border: 1px solid gold;*/
        /*border: none;*/
    }
    
    .container-fluid:after {
        /*border: none;*/
        content: '';
        clear: both;
        display: block;
        /*border: 1px solid red;*/
    }
    /*搜索*/
    
    .search-map {
        position: absolute;
        top: 30px;
        left: 100px;
        /*border: 1px solid red;*/
        height: 38px;
    }
    
    #suggestId {
        box-sizing: border-box;
        width: 300px;
        background: white;
        border: 0;
        border-left: 10px solid transparent;
        border-right: 27px solid transparent;
        line-height: 20px;
        font-size: 16px;
        height: 100%;
        color: #333;
        outline: none;
        border-radius: 2px 0 0 2px;
        /*margin-top: 20px;*/
    }
    
    .search-btn {
        box-sizing: border-box;
        border: 0;
        width: 70px;
        height: 100%;
        font-size: 23px;
        cursor: pointer;
        text-align: center;
        color: white;
        display: inline-block;
        background: #1B6DDA;
        margin-left: -3px;
        position: absolute;
        top: 0px;
        left: 302px;
    }
    /*位置信息框*/
    
    .rightbox {
        width: 500px;
        margin: 0 auto;
        /*border: 1px solid red;*/
        margin-top: 100px;
    }
    
    .point_content {
        background: #3E3E3E;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    /*权限管理*/
    
    textarea {
        overflow: auto;
    }