   * {
       margin: 0px;
       padding: 0px;
   }
   
   body {
       width: 100%;
       height: 100%;
       min-width: 1000px;
       background: url("../img/login/login_bg.png")
   }
   
   .header {
       width: 100%;
       height: 50px;
       color: black;
       padding-left: 50px;
       font-size: 30px;
       line-height: 50px;
       background: white;
       /*text-align: center;*/
   }
   
   .login_box {
       width: 480px;
       height: 500px;
       float: right;
       margin-top: 130px;
       margin-right: 140px;
       background: url("../img/login/loginbox_bg.png");
       background-size: 100% 100%;
       /*border: 1px solid red;*/
   }
   
   .box_title {
       margin-top: 80px;
       margin-left: 110px;
       font-size: 20px;
   }
   
   .search-menu {
       background: transparent;
       color: white;
       border: none;
       width: 4%;
   }
   
   .user_group,
   .pass_group {
       width: 250px;
       border: 1px solid white;
       margin: 0 auto;
       margin-top: 40px;
   }
   
   .user_group {
       /*margin-top: 100px;*/
   }
   
   .user_input,
   .pass_input {
       /*border: 1px solid red;*/
       background: transparent;
       margin-top: 4px;
       width: 95%;
       outline: none;
       border: none;
   }
   
   .vercode_input {
       width: 60px;
       height: 29px;
       background: transparent;
       border: 1px solid white;
       margin-right: 17px;
   }
   
   .vercode {
       height: 27px;
   }
   
   .language_group {
       width: 55%;
       margin: 0 auto;
       /*border: 1px solid red;*/
       margin-top: 40px;
       /*margin-left: */
   }
   
   .china_radio {
       margin-left: 20px !important;
       display: inline-block;
   }
   
   .login_btn {
       width: 80px;
       height: 30px;
       text-align: center;
       font-size: 16px;
       border-radius: 4px;
       margin-left: 290px;
       margin-top: 40px;
       background: #0623B4;
       border: none;
       color: white;
   }
   /*设置placeholder的颜色*/
   
    ::-webkit-input-placeholder {
       /* WebKit browsers */
       color: white;
   }
   
    :-moz-placeholder {
       /* Mozilla Firefox 4 to 18 */
       color: white;
   }
   
    ::-moz-placeholder {
       /* Mozilla Firefox 19+ */
       color: white;
   }
   
    :-ms-input-placeholder {
       /* Internet Explorer 10+ */
       color: white;
   }
   /*input框自动填充为黄色的解决方法*/
   
   input:-webkit-autofill {
       box-shadow: 0 0 0px 1000px #0A2257 inset; //#0A2257表示页面显示的背景色
   }